.Dictionary section {
  margin: 15px auto;
  display: block;
  border-radius: 15px;
  max-width: 600px;
  box-shadow: 2px 5px 5px rgb(0 0 0 / 20%);
  background: linear-gradient(to bottom right, #d5ddef, #bcb8ce, #917898);
}

.Dictionary .search {
  color: black;
  background: transparent;
  margin-bottom: 19px;
  border-radius: 50px;
}

.Dictionary h1 {
  margin-top: 10px;
}

/*
#bcb8ce,
#917898,
#4c394f
*/
